<nav class="navbar navbar-expand-lg" style="background-color: #ffc400;">
    <a class="navbar-brand">
      <h4>Codar Pizzaria</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Buscar </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Sobre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home">Como funciona</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home">Planos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../../assets/face-black-48dp.svg">
          </a>
        </li>
      </ul>
    </div>
</nav>